.header {
  height: 60px;
  display: flex;
  background-color: #71bcff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 40px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #3617e4;
}

.header__optionLineOne {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 5px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 20px;
}
.header__basketCount {
  padding-top: 0px;
  margin-left: 5px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10 px;
  margin-right: 10px;
  color: white;
}
